
.footeraddress{
	line-height:15px;
	padding-top:30px;
}

.bg-footer {
	background:url(../myimg/footer_bg.png) 1px 3px no-repeat;
	padding:0 0 0px 75px;
}

.bg-call {
	background:url(../myimg/call_bg.png) left top no-repeat;
	padding:3px 0 0 16px;
	margin-top:36px;
	width: 30px;
	height: 30px;
	float: right;
}

.bg-chat {
	background:url(../myimg/chat_bg.png) left top no-repeat;
	padding:3px 0 0 16px;
	margin-top:36px;
	width: 30px;
	height: 30px;
	float: right;
}